@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
/* Background/highlight: #fec7d7, Headline/Paragraph/Button/Stroke: #0e172c, 
  Button text: #fffffe, Main:#fffffe, Secondary:#d9d4e7, Tertiary: #a786df
*/
body {
  margin: 0;
  font-family:"Kaisei Tokumin", serif;
  font-size: 1.5em;
  text-align: center;
  background: #fec7d7;
  color:#fffffe;
}
